<!DOCTYPE html>
<html>
<head>
  <title>Question 2</title>
  <script src="./vue.js"></script>
</head>
<body>
<div id="app">
  <div id="input">
    <input type="number" id="digits" value="0" v-model="inputData"><br>

    Image Type:
    <input id="r1" type="radio" name="imgtype" value="0" checked="checked" v-model="pickedData">0
    <input id="r2" type="radio" name="imgtype" value="1" v-model="pickedData">1
    <input id="r3" type="radio" name="imgtype" value="2" v-model="pickedData">2
    <br>

    <button id="showimage" @click="showImage">Show Images</button>
  </div>
  <hr>

  <div id="output" v-if="imageList.length != 0">
    <div v-for="(img, index) in imageList" :key="index">
      <img :src="'img/' + img.url" @click="toggle(index)">
      <img
          :src="'img/' + blankImage"
          @click="toggle(index)"
          class="blankImage"
          :class="{'show': !img.show}">
    </div>
  </div>
</div>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      imageList: [],
      blankImage: 'blank_a.gif', //default value
      inputData: '0',
      pickedData: '0',
    },
    methods: {
      showImage() {
        this.imageList = []; //init
        for (let i = 0; i < this.inputData.length; i++) {
          if (this.pickedData == '0') {
            let img = {
              url: this.inputData[i] + 'a.gif',
              show: true,
            };
            this.imageList.push(img);
          } else if (this.pickedData == '1') {
            let img = {
              url: this.inputData[i] + 'b.gif',
              show: true,
            };
            this.imageList.push(img);
          } else if (this.pickedData == '2') {
            let img = {
              url: this.inputData[i] + 'c.gif',
              show: true,
            };
            this.imageList.push(img);
          }
        }
        if (this.pickedData == '0') {
          this.blankImage = 'blank_a.gif';
        } else if (this.pickedData == '1') {
          this.blankImage = 'blank_b.gif';
        } else if (this.pickedData == '2') {
          this.blankImage = 'blank_c.gif';
        }
      },
      toggle(index) {
        this.imageList[index].show = !this.imageList[index].show;
      },
    }
  })
</script>
</body>
<style type="text/css">
  div#output div {
    display: inline-flex;
  }
  img.blankImage {
    position: absolute;
    display: none;
  }
  img.blankImage.show {
    display: inline-block;
  }
</style>
</html>
