<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <main>
        <div>
            <h1>Xie Ruochen's Assignment 1</h1>
            <p>
                <span>Full name: Xie Ruochen</span>
                <br>
                <span>Student ID: 1155152557</span>
            </p>
        </div>

        <ul>
            <li>
                <a href="/item?id=1">A page to show a single item</a>
            </li>
            <li>
                <a href="/items">A page to list all items</a>
            </li>
            <li>
                <a href="/addItem">A page to allow the user to add item</a>
            </li>
        </ul>
    </main>
</body>
<style>
    main {
        margin: 50px auto 0;
        width: 400px;
    }
</style>
</html>