<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <div class="nav-bar">

        <div class="list-show">
            <div class="title">
                <p>ECLT5830</p>
            </div>

            <div class="list">
                <p>
                    <a href="/items">List Items</a>
                </p>
                <p>
                    <a href="/addItem">Add Item</a>
                </p>
            </div>

            <div class="nav-bottoms">
                <div class="bottom">
                    <p>MORE</p>
                </div>
            </div>
        </div>

        <div class="list-hidden">
            <p>
                <a href="/items">List Items</a>
            </p>
            <p>
                <a href="/addItem">Add Item</a>
            </p>
        </div>
    </div>

    <div class="grid_container">
        <div class="content_1">
            <div class="banner">
                Content Area #1 (Banner)
            </div>
        </div>

        <div class="content_2">
            <p>
                <span>Full name: Xie Ruochen</span>
                <br>
                <span>Student ID: 1155152557</span>
            </p>
        </div>

        <div class="content_3">
            <p>
                <a href="/item?id=1">A page to show a single item</a>
            </p>
        </div>

        <div class="content_4">
            <p>
                Content Area #4
            </p>
        </div>

    </div>


    <script>
        let Bottom = document.querySelector('.nav-bottoms .bottom');
        let List = document.querySelector('.list-hidden');

        // JS Animation
        // Source: https://www.w3schools.com/howto/howto_js_animate.asp
        const finalPos = 80; // height=40, two contents
        const frame_speed = 1;
        let pos = 0;
        let EXPAND, HIDE;

        Bottom.addEventListener('click', function(event) {
          List.classList.toggle('clicked');
          if (List.classList.contains('clicked')) {
            EXPAND = setInterval(frame_EXPAND, frame_speed);
          } else {
            HIDE = setInterval(frame_HIDE, frame_speed);
          }
        })

        function frame_EXPAND() {
            if (pos == finalPos) {
              clearInterval(EXPAND);
            } else {
              pos++;
              List.style.height = pos + 'px';
            }
        }

        function frame_HIDE() {
          if (pos == 0) {
            clearInterval(HIDE);
          } else {
            pos--;
            List.style.height = pos + 'px';
          }
        }
    </script>
</body>
<style type="text/less">
    @height: 50px;
    @small-screen-width: 400px;
    p {
        padding: 0;
        margin: 0;
    }

    div.nav-bar {
        display: flex;
        flex-direction: column;
        border: 1px solid gray;
        padding: 0 10px;

        div.list-show {
            display: flex;

            div.title {
                padding-right: 20px;
                p {
                    line-height: @height;
                }
            }
            div.list {
                display: flex;
                position: relative;
                p {
                    line-height: @height;
                    padding-right: 10px;
                }
            }
            div.nav-bottoms {
                display: none;
            }
        }
        div.list-hidden {
            display: none;
            flex-direction: column;
            overflow: hidden;

            height: 0;
            p {
                line-height: @height - 10px;
                opacity: 0.8;
            }
        }
    }

    @media screen and (max-width: @small-screen-width) {
        div.nav-bar {
            div.list-show {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                div.list {
                    display: none;
                }

                div.nav-bottoms {
                    display: flex;
                    div.bottom {
                        border: 1px solid gray;
                        padding: 5px 10px;
                        border-radius: 5px;
                    }
                    div.bottom:hover {
                        cursor: pointer;
                    }
                }
            }
            div.list-hidden {
                display: flex;
            }
        }
    }

    div.grid_container {
        display: grid;
        grid-template-columns: 33.3% auto 33.3%;
        grid-template-rows: 50% auto;
        height: 300px;
        grid-gap: 0.3em 0.6em;
        margin-top: 0.3em;


        div.content_1 {
            grid-area: 1 e("/") 1 e("/") 2 e("/") 4;
        }

        div.content_1,
        div.content_2,
        div.content_3,
        div.content_4 {
            border: 1px dotted gray;
        }
    }

    @media screen and (max-width: @small-screen-width) {
        div.grid_container {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 33.3% auto 33.3%;
            height: 300px;
        }
        div.content_1 {
            display: none;
        }
    }
</style>
<script src="//cdn.jsdelivr.net/npm/less" ></script>
</html>